
@media screen and (max-width: 1416px) {
    .general_information{
        padding: 5px 200px;
    }
    .interests_list{
        left: -40px;



    }

}

@media screen and (max-width: 1221px) {
    .general_information {
        padding: 5px 150px;
    }
}

@media screen and (max-width: 1245px){

    .skill_item{
        display: flex;
        flex-wrap: wrap;
    }
    .item{
        padding-top: 10px;

    }
}


@media screen and (max-width: 1119px) {
    .general_information {
        padding: 5px 50px;
    }
    .sidebar_info{
        width: 200px;

    }
    .sidebar_info-title{
        font-size: 14px;
        padding: 5px;
    }
    .info_link{
        font-size: 12px;
        line-height: 18px;
        padding: 8px 2px;
    }
    .language{
        font-size: 12px;
        line-height: 18px;
        padding: 8px 2px;
    }

    .about_me--info{
        line-height: 20px;
        font-size: 12px;
        text-indent: 15px;
    }
    .container{
        max-width: 1100px;
        margin-left: 300px;
        padding: 0 10px;
}
    .experience_info--first,
    .education_info,
    .item,
    .interests,
    .interests_list-item{
        line-height: 20px;
        font-size: 12px;
        text-indent: 15px;
}
    .item{
        width: 350px;
    }
    }
@media screen and (max-width: 1020px){
    .item{
        width: 250px;
    }

}

@media screen and (max-width: 916px){
    .general_information{
        padding: 5px 50px;
    }

    .position{
        font-size: 18px;
        line-height: 24px;
    }
    .info_menu--link{
        display: block;
        padding: 8px 0;
    }
    .footer{
        padding: 5px 50px;

    }

}

@media screen and (max-width:610px){
    .info_photo{
        width: 200px;
        height: 200px;
    }

}

@media screen  and (max-width: 575px){
    .sidebar_info {
        display: compact;
    }
    .container{
        max-width: 1100px;
        margin-left: 5px;
        padding: 0 10px;
    }
    .about_me{
        margin-top: 480px;
    }

}
@media screen and (max-width:435px) {
    .general_information {
        padding: 5px 10px;
    }

    .info_photo {
        width: 100px;
        height: 100px;
    }

    .info_menu--link {
        font-size: 12px;
        line-height: 20px;
    }

    .position {
        font-size: 12px;
        line-height: 18px;

    }
    .name{
        font-size: 22px;
    }
}


