@media screen and (max-width: 1416px) {
    .general_information{
        padding: 5px 200px;
    }

}

@media screen and (max-width: 1221px) {
    .general_information {
        padding: 5px 150px;
    }
}


@media screen and (max-width: 1119px) {
    .general_information {
        padding: 5px 50px;
    }
    .sidebar_info{
        width: 100px;
        margin-left: 0;
    }
    .sidebar_info-title{
        font-size: 14px;
        padding: 5px;
    }
    .info_link{
        font-size: 12px;
        line-height: 18px;
        padding: 8px 2px;
    }
    .language{
        font-size: 12px;
        line-height: 18px;
        padding: 8px 2px;
    }

    .about_me--info{
        line-height: 20px;
        font-size: 12px;
        text-indent: 15px;
    }
    .container{
        max-width: 1100px;
        margin-left: 300px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 916px){
    .general_information{
        padding: 5px 50px;
    }
    .name {
        font-size: 24px;
        line-height: 32px;
    }
    .position{
        font-size: 18px;
        line-height: 24px;
    }
    .info_menu--link{
        display: block;
        padding: 8px 0;
    }

}

@media screen and (max-width:610px){
    .info_photo{
        width: 200px;
        height: 200px;
    }

}
@media screen and (max-width:435px) {
    .general_information {
        padding: 5px 10px;
    }

    .info_photo {
        width: 150px;
        height: 150px;

    }
    .info_menu--link{
        font-size: 12px;
        line-height: 20px;
    }
    .position{
        font-size: 12px;
        line-height: 18px;
    }
}

